* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #700000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: center;    
    gap: 2rem;
}

.container h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.container h2 .text {
    font-size: 2rem;
    font-weight: 400;
    opacity: .9;
}

.hint {
    background-color: #B90007;
    width: 90%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 0 .5rem .5rem 0;
    display: flex;
    gap: .5rem;    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.hint h3 {
    font-size: 1rem;
    font-weight: 700;    
}

.hint p {
    font-size: 1rem;
    font-weight: 400;    
}

.level {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: .5rem;    
}

.level .experience {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.level .experience h4 {
    font-size: 1.2rem;
    font-weight: 400;    
}

.level .experience h3 {
    font-size: 1.2rem;
    font-weight: 700;    
    margin-right: 1rem;
}

progress {
    height: 1.7rem;
    flex-grow: 1;        
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #B90007;
    border-radius: .5rem;    
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}

progress::-webkit-progress-value {
    background: linear-gradient(to bottom, #D1EC8A, #96B935);
    border-radius: .5rem 0 0 .5rem;    
}

/* 
=============================================================
========================= TIME LIFE =========================
=============================================================
*/

.time-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-left-container {
    position: absolute;
    width: 93%;
    max-width: 500px;
    height: 10rem;
    bottom: 0px;
    background-color: #B90007;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);       
}

.time-left .progress {
    flex-grow: 1;
    display: flex;       
    position: relative; 
}


.progress .elapsed {
    width: calc(25 * 100% / 30);    
}

.progress .break {
    width: calc(5 * 100% / 30);    
}

.time-left .progress progress {
    height: 3rem;    
}

.progress p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 700;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);    
    color: #f7f7f7;
}

.progress progress::-webkit-progress-bar {
    border-radius: .5rem 0 0 .5rem;        
}

.progress progress.break::-webkit-progress-bar {
    border-radius: 0 .5rem .5rem 0;        
}

progress.break::-webkit-progress-bar {
    background-color: #700;
    
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}

progress::-webkit-progress-value {
    background: linear-gradient(to bottom, #D1EC8A, #96B935);
    border-radius: .5rem 0 0 .5rem;    
}


.time-left progress .break{
    background-color: #700000;
}

.time-left-container .buttons {
    width: 100%;
    display: flex;
    gap: .5rem;
}

.buttons .button {
    flex-grow: 1;
    padding: 1rem;
    border: none;
    border: 1px solid #6C0000;    
    border-radius: .5rem;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #B9010B, #850000);    
    display: flex;
    justify-content: center;
}

.button p  {
    color: white;
    font-size: 17px;
    font-weight: 700;    
}

.buttons .start {        
    background-color: #700000;
    color: green;
}


.buttons .button:hover {
    background: linear-gradient(to bottom, #D1020C, #960000);
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:active {
    background: linear-gradient(to bottom, #850000, #B9010B);
}

@media (min-width: 550px) {
    body {
        align-items: center;
    }
}